#root {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.logo {
  position: absolute;
  left: 2vw;
  top: 2vh;
  height: calc(8px + 4vw);
}


/* Components */

/* App Controller */
.app-element{
  padding-top: 1vh;
  }

.cc-button {
  border: none;
  font-size: calc(8px + 1vmin);
  font-weight: bold; 
}

.cc-button-selected {
  background-color: rgb(155, 11, 78);  
}


/* Render Links */
.content-section {
  padding: 0.5em;
  border-top: 1px dashed whitesmoke;
}

.content-primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-secondary {
  display: flex;
  flex-direction: column;
  flex: 20%;
  padding: 0.8em;
  justify-content: space-evenly;
}

.content-image {
  width: calc(16px + 4vw);
  border-radius: 8px;
}

.content-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-button {
  background-color: rgb(157, 117, 16);
  font-size: small;
  flex-wrap: nowrap;
}